nav {
    background-color: #a6c48d;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}


nav > ul > li > a {
    color: #24646d;
    background-color:#c0be81;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;  
    background-color:#ffb4b1;
    background-image: url("../images/flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000035;
    font-family: 'Poiret One', cursive;
}

header{
    color: #5f4737;
    font-family: 'Charmonman', cursive;
}

a:hover {
    background-color: maroon;
}

.flex-container {
    display: flex;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
  }
  
  .cat {
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .arch {
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .kalama{
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .victoria{
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  .family {
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  .roma {
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  .gideon {
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  .art {
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }
  