nav {
    background-color: #a6c48d;
    margin: 0;
    overflow: hidden;
}
nav ul{
    margin: 0;
    padding: 0;
}
nav ul li {
    display: inline-block;
    list-style-type: none;
}


nav > ul > li > a {
    color: #24646d;
    background-color:#c0be81;
    display: block;
    line-height: 2em;
    padding: 0.5em 0.5em;
    text-decoration: none;
}

body{
    margin: 0;
    padding: 0;
    font-size: 16px;  
    background-color:#ffb4b1;
    background-image: url("../images/flower.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #000035;
    font-family: 'Poiret One', cursive;
}

header{
    color: #5f4737;
    font-family: 'Charmonman', cursive;
}

a:hover {
    background-color: maroon;
}

.flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
  }
  
.flex-item {
    object-fit: cover;
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }

  .family {
    object-fit: cover;
    background: teal;
    padding: 5px;
    width: 300px;
    height: 180px;
    margin-top: 10px;
    
    line-height: 150px;
    color: white;
    font-weight: bold;
    font-size: 3em;
    text-align: center;
  }


.grid {
    display: grid;
    grid-template-columns:fit-content(auto)1fr 1fr 1fr;
    grid-template-rows:fit-content(auto) 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
    "title title title"
    "subtitle subtitle subtitle"
    "sidebar info info "
    "sub2 sub2 sub2"
    "subsub2 subsub2 subsub2"
    "info2 info2 bar2"
    "subsub3 subsub3 subsub3"
    "bar3 info3 info3"
    "subsub4 subsub4 subsub4"
    "bar4 info4 info4"
    "sub5 sub5 sub5"
    "bar5 info5 info5"
    "extra extra extra"
    "cv cv cv"
}
/*.grid div:nth-child(even){
    background-color:red;
}

.grid div:nth-child(odd){
    background-color:yellow;
}
*/

.title{
    grid-area: title;
}

.subtitle{
    grid-area: subtitle;
}

.sidebar{
    grid-area: sidebar;
}

.info{
    grid-area: info;
}

.sub2{
    grid-area:sub2;
}

.subsub2{
    grid-area:subsub2;
}

.bar2{
    grid-area:bar2;
}

.info2{
    grid-area:info2;
}

.subsub3{
    grid-area: subsub3;
}

.bar3{
    grid-area:bar3;
}

.info3{
    grid-area:info3;
}

.subsub4{
    grid-area:subsub4;
}

.bar4{
    grid-area:bar4;
}

.info4{
    grid-area:info4;
}

.subsub5{
    grid-area:subsub5;
}

.info5{
    grid-area:info5;
}

.bar5{
    grid-area:bar5
}

.tryimage{
    height:1200px;
    width:720px:
}

.cv{
    grid-area:cv;
}

.extra{
    grid-area: extra;
}